<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a1mobile"
    android:versionCode="1"
    android:versionName="2.0">

    <uses-sdk android:targetSdkVersion="18" android:minSdkVersion="8"
        tools:overrideLibrary="net.hockeyapp.android"/>

    <uses-permission android:name="android.permission.INTERNET" />
	
	
  	//your activity declarations and other stuff

	

    <application>
        //your activity declarations and other stuff
  	<meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="fd7a39abc45c4131be72432123f42932" />
	
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name="ToDoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>